# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# VSCode / IDE
.vscode/
.idea/

# Logs and temp
*.log
*.tmp
*.cache

