# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Data (optional)
data/raw/*.csv
!data/raw/README.md

# Outputs
*.log
*.tmp
*.cache
data/processed/*.npy
data/processed/*.npz

